    body{
        background: url(image/background.jpg);
        font-family:Times,KaiTi,STZhongsong,Microsoft YaHei,SimHei,SimSun;
        font-size: 16px;
        text-align: center;
    }

    div{
        margin: 10px;
    }
    #bin-JH{
        text-align:center;
        margin-bottom: -80px;
    }

    div#tableContainer{
        display:table;
        border: thin,red;
        text-align: left;
        margin-top:0px;
        margin-left: 2%;
        margin-right:2%;
        margin-bottom: 20px;
        border-spacing: 50px;
    }
    div#tableRow{
        display: table-row;
    }
    #Daily{
        display: table-cell;
        width: 70%;
        vertical-align: top;
    }
    #Daily img{
        width: 100%;
    }
    #Daily h1,h2{
        text-align: center;
    }
    #Aboutme{
        display: table-cell;
        width: 30%;
        vertical-align: top;
    }
    #Aboutme img{
        width: 100%;
        text-align: center;
    }   
    #Aboutme h2{
        color: white;
        font-size: 22px;
        background: #292929;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #Aboutme li{
        color: rgb(15, 90, 90);
        font-weight: bold;
        font-size: 18px;
        line-height:25px;
    }

    #Aboutme li img{
        width: 120px;
        height: 120px;
    
    }
        
    #Aboutme h1,h2{
        text-align: center;
    }

    #Myname{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: -12px;
    }
    #Myprofession{
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(163, 162, 162);
        
    }
    #Photo img{
        margin: 10px;
        border: teal,thin;
        
        width:130px;
        height: 213px;

    }
    #footer img{
        width:50px;
        height:50px;
        margin: 5px;
    }
    #logo img{
        text-align: center;
        width:120px;
        height:120px;
    }

